services:
  - type: web
    name: mern-ecommerce
    env: docker
    region: singapore
    plan: starter
    buildFilter:
      paths:
      - Dockerfile
      - ./**
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5001
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: ALLOWED_ORIGINS
        sync: false
      - key: UPSTASH_REDIS_REST_URL
        sync: false
      - key: UPSTASH_REDIS_REST_TOKEN
        sync: false
      - key: KHALTI_SECRET_KEY
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: VITE_API_URL
        sync: false
      - key: VITE_KHALTI_PUBLIC_KEY
        sync: false
    healthCheckPath: /api/health
    dockerfilePath: ./Dockerfile
    dockerCommand: ./start.sh
